.results {
  margin-top: auto;
  background-color: rgb(197, 255, 255);
  border-style: solid;
  border-width: 1px;
}

.results li {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(197, 255, 255);
}

.results-title {
  margin-top: 0px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}