$backgroundColor: #efefef;
$radius: 30px;

input[type=radio] {
  display: none;
}

input[type=text] {
  font-size: 15px;
  width: 350px;
}

#url {
  margin-top: auto;
  margin-bottom: auto;
}

textarea {
  margin: 10px;
  width: 1fr;
  height: 220px;
  border: dashed;
  min-height: 100px;
}

button {
  font-size: 15px;
}

h4 {
  margin-left: 10px;
  margin-bottom: 0px;
}

@keyframes colorChange {
  0% {
    background: #ccc;
  }
  50% {
    background: rgb(255, 136, 0);
  }
  100% {
    background: #ccc;
  }
}

@keyframes textColorChange {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}

/* Default state when not checked and not hovered */
label.methods span {
  background: #ccc; /* Default background color */
}

/* Apply styles when radio button is checked */
input[type=radio]:checked + span {
  background: red;
  animation: textColorChange 5s ease infinite ;
}

/* Apply styles when the span is hovered and radio button is not checked */
label.methods span:hover:not(input[type=radio]:checked + span) {
  animation: colorChange 1s  ease infinite;
}

#formContainer {
  padding: 3rem;
  display: flex;
  align-items: center;
  background: radial-gradient(circle, rgb(200, 219, 110), $backgroundColor);
  border-radius: $radius;
}

form {
  display: block;
  margin: auto;
  width: 500px;
  align-items: center;

  #http-buttons {
    display: block;
  }

  label {
    display: block;

    &.URL {
      display: flex;
      justify-content: center;

      span {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.methods {
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 10px;
      padding-bottom: 10px;

      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
